<mat-toolbar fxLayoutGap="16px">
  <button *ngIf="currentIdea.state === 'CREADA'" mat-raised-button (click)="openFullDrawer2('Crear nueva alternativa', 'NEW_ALTERNATIVE', null)" color="accent">
    <mat-icon>add</mat-icon>
    Crear alternativa
  </button>
  <span>Alternativas de Idea</span>
</mat-toolbar>
<ngx-simplebar class="my-content">

  <app-not-found *ngIf="alternatives.length === 0"></app-not-found>

  <div fxLayout="row wrap" fxLayoutGap="15px grid">

    <div *ngFor="let item of alternatives" fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100"
      fxFlex.lt-sm="100">

      <mat-card class="alternative-card mat-elevation-z4">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip *ngIf="item?.state == 'CREADA'" color="light" selected >
            <mat-icon matChipAvatar>pending</mat-icon>
            PENDIENTE DE REVISION
          </mat-chip>
          <mat-chip *ngIf="item?.state == 'ENVIADA'" color="accent" selected>
            <mat-icon matChipAvatar>schedule</mat-icon>
            EN REVISION
          </mat-chip>
          <mat-chip *ngIf="item.state == 'CALIFICADA'" color="accent" selected>
            <mat-icon matChipAvatar>rate_review</mat-icon>
            ANALIZADA
          </mat-chip>
        </mat-chip-list>
        <br>
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">alt_route</mat-icon>
          <mat-card-title>
            {{item?.preName?.preliminaryName}}
          </mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <br>
          <p><b>Estimación preliminar de beneficiarios: </b>{{item?.popDelimit?.estimateBeneficiaries}}</p>
          <br>
          <p><b>Costo estimado de la preinversión: </b>Q.{{item?.projDesc?.estimatedCost}}</p>
          <br>
          <p><b>Costo estimado de la inversión: </b>Q.{{item?.projDesc?.investmentCost}}</p>
          <hr>
          <p> <b>Complejidad: </b>{{ item?.projDesc?.complexity }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button (click)="openFullDrawer2('Detalles de la alternativa', 'SELECTED_ALTERNATIVE', item)" color="accent">Detalles</button>
          <button mat-button  *ngIf="usuario.role == 'ADMIN_ROLE'" (click)="openFullDrawer2('Matriz de pertinencia', 'NEW_RELEVANCE_MATRIX', item)"
            color="warn">Matriz de
            pertinencia</button>
        </mat-card-actions>

      </mat-card>

    </div>

  </div>

</ngx-simplebar>
