<mat-toolbar fxLayoutGap="16px">
  <button mat-raised-button (click)="openFullDrawer2('Crear nueva alternativa', 'NEW_ALTERNATIVE')" color="accent">
    <mat-icon>add</mat-icon>
    Crear alternativa
  </button>
  <span>Alternativas de Idea</span>
</mat-toolbar>
<ngx-simplebar class="my-content">

  <app-not-found *ngIf="alternatives.length === 0"></app-not-found>

  <div fxLayout="row wrap" fxLayoutGap="15px grid">

    <div *ngFor="let item of alternatives" fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100"
      fxFlex.lt-sm="100">

      <mat-card matRipple (click)="openFullDrawer2('Matriz de pertinencia', 'NEW_RELEVANCE_MATRIX')" class="alternative-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">alt_route</mat-icon>
          <mat-card-title>
            {{item.preliminaryName.typeProject}}
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{item.preliminaryName.proccess}} </p>
          <br>
          <p>{{item.preliminaryName.object}} </p>
          <br>
          <hr>
          <p>{{ item.projectDescription.complexity }}</p>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

</ngx-simplebar>
