.idea-card {
  height: calc(100vh - 252px);
  margin: 40px 16px 16px 16px;
  border-radius: 16px;
}

.idea-card-content {
  height: calc(100vh - 344px);
}

.generalInformation {
  height: calc(100vh - 450px);
  padding: 16px;
}
