
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex.gt-lg="60" fxFlex.lg="80" fxFlex.md="80" fxFlex.sm="100" fxFlex.lt-sm="100">

        <mat-card class="idea-card mat-elevation-z2">

          <mat-card-header>
            <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
            <mat-card-title>
              {{currentIdea.registerCode}}
            </mat-card-title>
            <mat-card-subtitle>Información general</mat-card-subtitle>
            <span fxFlex></span>
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngIf="currentIdea.state" color="light" selected>
                <mat-icon matChipAvatar>pending</mat-icon>
                SIN ENVIAR
              </mat-chip>
              <mat-chip *ngIf="!currentIdea.state" color="accent" selected>
                <mat-icon matChipAvatar>schedule</mat-icon>
                EN REVISION
              </mat-chip>
            </mat-chip-list>
          </mat-card-header>

          <mat-card-content class="idea-card-content">
            <p>{{currentIdea.generalObjective}} </p>
            <hr>
            <mat-tab-group mat-align-tabs="center" color="accent">
              <mat-tab label="Información general">
                <div class="generalInformation">
                  <p><b>Encargado: </b>{{currentIdea.responsibleName}}</p>
                  <p><b>Creada: </b> {{ currentIdea.createdAt | date:'dd/MM/yyyy'}}</p>
                </div>
              </mat-tab>
              <mat-tab label="Posibles Efectos">
                <div class="generalInformation">
                  <div *ngFor="let efect of currentIdea.possibleEffects; index as i">
                    <p><b>
                        <mat-icon>flare</mat-icon>
                      </b>{{ efect.description}}</p>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Posibles Causas">
                <div class="generalInformation">
                  <div *ngFor="let cause of currentIdea.possibleCauses; index as i">
                    <p><b>
                        <mat-icon>view_in_ar</mat-icon>
                      </b>{{ cause.description}}</p>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Posibles Alternativas">
                <div class="generalInformation">
                  <div *ngFor="let alternative of currentIdea.possibleAlternatives; index as i">
                    <p><b>
                        <mat-icon>view_in_ar</mat-icon>
                      </b>{{ alternative.description}}</p>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
            </mat-card-content>
              
              <mat-card-actions>
            <button mat-button (click)="openFullDrawer('Editar Idea', 'NEW_IDEA')" color="accent">
              Editar
            </button>
            <button mat-button color="warn">
              Eliminar
            </button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
