<mat-toolbar>
  <button mat-icon-button (click)="chengeDrawer()" matTooltip="Mostrar/Ocultar Menú">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Seguimiento de la Preinversión</span>
  <span fxFlex></span>
  <mat-chip-list>
    <mat-chip (click)="checkIsMinistry( false )"  [selected]=" isMinistry === false " color="primary" class="pointer">Territorial</mat-chip>
    <mat-chip (click)="checkIsMinistry( true )"  [selected]=" isMinistry === true " color="primary" class="pointer">Sectorial</mat-chip>
  </mat-chip-list>


</mat-toolbar>
<mat-drawer-container autosize class="my-menu-container">
  <mat-drawer #menuDrawer mode="side" opened="true" class="my-menu-drawer">

    <div fxLayout="column" fxLayoutAlign="start center" class="my-menu">

      <button mat-raised-button (click)="openFullDrawer('Crear Proyecto', 'NEW_PROJECT')" color="primary">
        <mat-icon>add</mat-icon>
        Registrar Proyecto
      </button>

      <br>

      <mat-selection-list #shoes [multiple]="false">

        <mat-list-option (click)="closeDrawers()" routerLinkActive="mat-list-single-selected-option"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>account_tree</mat-icon>
          Proyectos
        </mat-list-option>

        <!-- <mat-list-option (click)="closeDrawers()" routerLinkActive="mat-list-single-selected-option">
          <mat-icon mat-list-icon>request_quote</mat-icon>
          Solicitudes
        </mat-list-option> -->

      </mat-selection-list>
    </div>

  </mat-drawer>

  <mat-drawer-container>
    <mat-drawer #fullDrawer position="end" mode="over" class="full-drawer">

      <app-new-project *ngIf="fullComponent === 'NEW_PROJECT'"></app-new-project>

    </mat-drawer>

    <div ngClass.gt-sm="my-content-desktop" ngClass.lt-md="my-content-mobile">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</mat-drawer-container>
