<div class="filters">
  <div class="control-filter">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Departamento</mat-label>
      <mat-select [formControl]="departamentoFilter" (selectionChange)="selecDepartament()">
        <mat-option *ngFor="let depto of departamentos" [value]="depto.NOMBRE">
          {{depto.NOMBRE}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="control-filter">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Municipio</mat-label>
      <mat-select [formControl]="municipioFilter">
        <mat-option *ngFor="let mncpio of municipios" [value]="mncpio.NOMBRE">
          {{mncpio.NOMBRE}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="isMinistry" class="control-filter">
    <mat-form-field appearance="outline">
      <mat-label>Entidad</mat-label>
      <input matInput [formControl]="entidadFilter">
    </mat-form-field>
  </div>
  <div class="control-filter">
    <mat-form-field appearance="outline">
      <mat-label>Mes</mat-label>
      <input matInput [formControl]="mouthFilter">
    </mat-form-field>
  </div>
  <div class="control-filter filter-button">
    <button mat-raised-button (click)="searchProjects()" color="primary">Buscar</button>
    <button mat-raised-button (click)="clearControls()" color="secondary">Limpiar</button>
  </div>
</div>


<ngx-simplebar class="example-container mat-elevation-z8" tabindex="0">


  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ministry">
      <th mat-header-cell *matHeaderCellDef> Entidad </th>
      <td mat-cell *matCellDef="let element"> {{element.ministry}} </td>
    </ng-container>
    <ng-container matColumnDef="nameProject">
      <th mat-header-cell *matHeaderCellDef> PROYECTO </th>
      <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
    </ng-container>

    <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef> PROCESO </th>
      <td mat-cell *matCellDef="let element"> {{element.process}} </td>
    </ng-container>

    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef> SECTOR</th>
      <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
    </ng-container>

    <ng-container matColumnDef="munic">
      <th mat-header-cell *matHeaderCellDef> MUNICIPIO </th>
      <td mat-cell *matCellDef="let element"> {{element.munic}} </td>
    </ng-container>

    <ng-container matColumnDef="advance">
      <th mat-header-cell *matHeaderCellDef> AVANCE </th>
      <td mat-cell *matCellDef="let element">
        <label *ngIf="element.advance">{{element.advance}} %</label>
        <label *ngIf="!element.advance">0 %</label>
        <!-- <div *ngIf="element.status == 'CREADA'" class="status pending">SIN ENVIAR</div>
        <div *ngIf="element.status == 'EN RECEPCIÓN'" class="status in-progress">EN REVISIÓN</div>
        <div *ngIf="element.status == 'EN ANÁLISIS'" class="status in-progress">RECEPCIONADA</div>
        <div *ngIf="element.status == 'RECHAZADA'" class="status dead">SIN RECEPCIONAR</div>
        <div *ngIf="element.status == 'CALIFICADA' && element.result == 'ADMITIDA'" class="status open">ADMITIDA</div>
        <div *ngIf="element.status == 'CALIFICADA' && element.result == 'NO ADMITIDA'" class="status dead">NO ADMITIDA -->
        <!-- </div> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button (click)="openFullDrawer('Editar Proyecto', 'NEW_PROJECT', element)">
          <mat-icon>info</mat-icon>
        </button>

        <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button  mat-menu-item  (click)="openFullDrawer('Editar Proyecto', 'NEW_PROJECT', element)">
            <mat-icon>more_time</mat-icon>
            <span>Agregar Progreso</span>
          </button>

          <button  mat-menu-item>
            <mat-icon>info</mat-icon>
            <span>Ver Detalles</span>
          </button>
        </mat-menu> -->

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ngx-simplebar>