<section class="example-container mat-elevation-z8" tabindex="0">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nameProject">
      <th mat-header-cell *matHeaderCellDef> PROYECTO </th>
      <td mat-cell *matCellDef="let element"> {{element.nameProject}} </td>
    </ng-container>

    <ng-container matColumnDef="process">
      <th mat-header-cell *matHeaderCellDef> PROCESO </th>
      <td mat-cell *matCellDef="let element"> {{element.process}} </td>
    </ng-container>

    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef> SECTOR</th>
      <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
    </ng-container>

    <ng-container matColumnDef="munic">
      <th mat-header-cell *matHeaderCellDef> MUNICIPIO </th>
      <td mat-cell *matCellDef="let element"> {{element.munic}} </td>
    </ng-container>

    <ng-container matColumnDef="advance">
      <th mat-header-cell *matHeaderCellDef> AVANCE </th>
      <td mat-cell *matCellDef="let element">
        73%
        <!-- <div *ngIf="element.status == 'CREADA'" class="status pending">SIN ENVIAR</div>
        <div *ngIf="element.status == 'EN RECEPCIÓN'" class="status in-progress">EN REVISIÓN</div>
        <div *ngIf="element.status == 'EN ANÁLISIS'" class="status in-progress">RECEPCIONADA</div>
        <div *ngIf="element.status == 'RECHAZADA'" class="status dead">SIN RECEPCIONAR</div>
        <div *ngIf="element.status == 'CALIFICADA' && element.result == 'ADMITIDA'" class="status open">ADMITIDA</div>
        <div *ngIf="element.status == 'CALIFICADA' && element.result == 'NO ADMITIDA'" class="status dead">NO ADMITIDA -->
        <!-- </div> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button  mat-menu-item  (click)="openFormDrawer('Nuevo seguimiento', 'NEW_TRACK')">
            <!-- <button (click)="changeStatus('reception', element.id)" mat-menu-item> -->
            <mat-icon>more_time</mat-icon>
            <span>Agregar Progreso</span>
          </button>

          <button  mat-menu-item>
            <!-- <button (click)="changeStatus('reception', element.id)" mat-menu-item> -->
            <mat-icon>info</mat-icon>
            <span>Ver Detalles</span>
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
