.example-container {
  height: calc(100vh - 190px);
  overflow: auto;
  border-radius: 8px;
}

table {
  width: 100%;
}

.filters {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.control-filter{
  margin: 5px;
  
}
.filter-button{
  padding-bottom: 1.34375em;
}
button{
  margin: 5px;
}