<mat-card matRipple class="idea-card pointer active-elevation">
  <mat-card-header  (click)="openFullDrawer(idea)">
    <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
    <mat-card-title>
      {{idea.registerCode}}
    </mat-card-title>
    <mat-card-subtitle>Información general</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content (click)="openFullDrawer(idea)">
    <p><b>Objetivo General: </b>{{idea.generalObjective}} </p>
    <hr>
    <p><b>Linea Base: </b>{{idea?.baseLine}}</p>
    <p><b>Encargado: </b>{{idea.responsibleName}}</p>
    <p><b>Entidad: </b>{{idea.nameEntity}}</p>
    <p><b>Creada: </b> {{ idea.createdAt | date:'dd/MM/yyyy'}}</p>
    <p *ngIf="idea.result != 'PENDIENTE'"><b>Resultado: </b> {{ idea.result}}</p>
   
    <mat-chip-list aria-label="Fish selection">
      <mat-chip *ngIf="idea.state == 'CREADA'" color="light" selected>
        <mat-icon matChipAvatar>pending</mat-icon>
        SIN ENVIAR
      </mat-chip>
      <mat-chip *ngIf="idea.state == 'ENVIADA'" color="accent" selected>
        <mat-icon matChipAvatar>schedule</mat-icon>
        EN REVISION
      </mat-chip>
      <mat-chip *ngIf="idea.state == 'CALIFICADA'" color="accent" selected>
        <mat-icon matChipAvatar>rate_review</mat-icon>
        ANALIZADA
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-accordion>

    <mat-expansion-panel [disabled]="!idea?.alternatives?.length" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Alternativas:
        </mat-panel-title>
        <mat-panel-description>
           <label *ngIf="idea?.alternatives?.length">{{idea?.alternatives?.length}}</label> 
           <label *ngIf="!idea?.alternatives?.length">Sin Alternativas Registradas</label> 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let alternative of idea?.alternatives">
      
        <div fxLayout="row wrap" fxLayoutGap.gt-sm="10px">
          <div fxFlex>
            <p>{{alternative?.preName?.preliminaryName}}</p>
          </div>
          <div fxFlex>
            <button mat-button>Imprimir Informe</button>
          </div>
        </div>
      </div>
      
      </mat-expansion-panel>
  </mat-accordion>
</mat-card>
