<ngx-simplebar class="sub-content-desktop">

  <p>Filtros:</p>
  <div fxLayout="row wrap" fxLayoutGap="15px grid">

    <mat-form-field appearance="fill">
      <mat-label>Autor</mat-label>
      <mat-select [(value)]="author">
        <mat-option value="TODOS">Todos</mat-option>
        <mat-option value="Mis Ideas">Mis Ideas</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select [(value)]="state">
        <mat-option value="TODAS">Todas</mat-option>
        <mat-option value="CREADA">Creadas</mat-option>
        <mat-option value="ENVIADA">Enviadas</mat-option>
        <mat-option value="CALIFICADA">Calificadas</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Número de Idea</mat-label>
      <input matInput type="text" [(ngModel)]="number">
      <button *ngIf="number" matSuffix mat-icon-button aria-label="Clear" (click)="number=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div>
      <button class="center-obj" (click)="sendFilter()" mat-raised-button>Buscar</button>
    </div>

  </div>
  <app-not-found *ngIf="ideas?.length === 0"></app-not-found>


  <div fxLayout="row wrap" fxLayoutGap="15px grid">

    <div *ngFor="let item of ideas" fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="50" fxFlex.sm="100" fxFlex.lt-sm="100">

      <app-idea-card-mini [idea]="item"></app-idea-card-mini>

    </div>

  </div>

</ngx-simplebar>