<ngx-simplebar class="sub-content-desktop">

  <div fxLayout="row wrap" fxLayoutGap="15px grid">

    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>
    <div fxFlex.gt-lg="25" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="33" fxFlex.lt-sm="100">

      <mat-card matRipple class="idea-card pointer active-elevation">
        <mat-card-header>
          <mat-icon mat-card-avatar color="accent">lightbulb</mat-icon>
          <mat-card-title>
            00001 - BIP - 2022
          </mat-card-title>
          <mat-card-subtitle>Información general</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Desplegar los productos definidos en SIPLAN, para la vinculación correspondiente </p>
          <hr>
          <p><b>Encargado:</b> Luis Pedro Chaves</p>
          <p><b>Creada:</b> 28/07/2022</p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected>
              <mat-icon>schedule</mat-icon>
              EN REVISION
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

</ngx-simplebar>
