<mat-toolbar fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
  <button mat-icon-button (click)="closeFullDrawer()">
    <mat-icon>close</mat-icon>
  </button>
  <span class="mat-title">{{ fullTitle }}</span>
</mat-toolbar>
<ngx-simplebar fxLayoutAlign="center start" class="sub-content-desktop">
  <mat-stepper orientation="vertical" linear="true" #stepper fxFlex.lt-md="100" fxFlex.md="80" fxFlex.gt-md="65">

    <form [formGroup]="" autocomplete="off">
      <mat-step>
        <ng-template matStepLabel>Aspectos generales</ng-template>

        <div fxLayout="column" fxLayoutGap="15px">

          <mat-form-field fxFill appearance="outline">
            <mat-label>Nombre de la entidad (Presidencia y Ministerios de Estado, Secretarias u otras dependencias)</mat-label>
            <mat-select>
              <mat-option value="AMSA">
                AMSA
              </mat-option>
              <mat-option value="CAMINOS">
               CAMINOS
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="preliminaryName.get('typeProject')?.hasError('required')">
              El tipo de idea es <strong>requerido</strong>
            </mat-error> -->
          </mat-form-field>

          <mat-form-field fxFill appearance="outline">
            <mat-label>Función de proyectos</mat-label>
            <mat-select>
              <mat-option value="EDUCACION">
                EDUCACIÓN
              </mat-option>
              <mat-option value="MEDIO AMBIENTE">
               MEDIO AMBIENTE
              </mat-option>
              <mat-option value="VIVIENDA">
               VIVIENDA
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="preliminaryName.get('typeProject')?.hasError('required')">
              El tipo de idea es <strong>requerido</strong>
            </mat-error> -->
          </mat-form-field>

          <mat-form-field fxFill appearance="outline">
            <mat-label>Estudios generales para evaluar la conveniencia y oportunidad de realizar programasy/o proyectos.</mat-label>
            <mat-select>
              <mat-option value="Estudios técnicos">
                Estudios técnicos
              </mat-option>
              <mat-option value="Estudios económicos">
               Estudios económicos
              </mat-option>
              <mat-option value="Estudios sociales">
               Estudios sociales
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="preliminaryName.get('typeProject')?.hasError('required')">
              El tipo de idea es <strong>requerido</strong>
            </mat-error> -->
          </mat-form-field>

          <mat-form-field fxFill appearance="outline">
            <mat-label>Documento de  preinversión que requiere financiar</mat-label>
            <mat-select>
              <mat-option value="Perfil">
                Perfil
              </mat-option>
              <mat-option value="Prefactibilidad">
               Prefactibilidad
              </mat-option>
              <mat-option value="Factibilidad">
               Factibilidad
              </mat-option>
              <mat-option value="Megaproyecto">
               Megaproyecto
              </mat-option>
              <mat-option value="De impacto">
               De impacto
              </mat-option>
              <mat-option value="Estructural">
               Estructural
              </mat-option>
              <mat-option value="Diseño final de ingeniería">
                Diseño final de ingeniería
              </mat-option>
              <mat-option value="Diseño final de arquitectura">
                Diseño final de arquitectura
              </mat-option>
              <mat-option value="Complementarios (Cuya factibilidad haya sido demostrada)">
                Complementarios (Cuya factibilidad haya sido demostrada)
              </mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="preliminaryName.get('typeProject')?.hasError('required')">
              El tipo de idea es <strong>requerido</strong>
            </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Documento de proyecto en PDF (cuando este a nivel de perfil o prefactibilidad )</mat-label>
            <input type="text" matInput placeholder="Seleccione un archivo">
            <mat-icon matSuffix>attach_file</mat-icon>
            <!-- <mat-error *ngIf="responsibleEntity.get('nameEPI')?.hasError('required')">
              El nombre de la entidad es <strong>requerido</strong>
            </mat-error> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nombre del responsable institucional</mat-label>
            <input matInput type="text">
            <!-- <mat-error *ngIf="responsibleEntity.get('leaderName')?.hasError('required')">
              El nombre del responsable es <strong>requerido</strong>
            </mat-error> -->
          </mat-form-field>

          <mat-form-field fxFill appearance="outline">
            <mat-label>Correo de contacto</mat-label>
            <input type="email" matInput>
            <!-- <mat-error
              *ngIf="responsibleEntity.get('email')?.hasError('email') && !responsibleEntity.get('email')?.hasError('required')">
              Por favor, introduzca una dirección de correo electrónico válida
            </mat-error>
            <mat-error *ngIf="responsibleEntity.get('email')?.hasError('required')">
              El correo electrónico es <strong>requerido</strong>
            </mat-error> -->
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>No. telefónico </mat-label>
            <span matPrefix>+502 &nbsp;</span>
            <input type="number" matInput>
            <mat-icon matSuffix>contact_phone</mat-icon>
            <!-- <mat-error *ngIf="responsibleEntity.get('phone')?.hasError('required')">
              El teléfono de contacto es <strong>requerido</strong>
            </mat-error> -->
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Siguiente</button>
          </div>

        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Descripción del proyecto de inversión
        </ng-template>

        <div fxLayout="column" fxLayoutGap="15px">


          <div>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Descripción de los estudios </ng-template>
        <div fxLayout="column" fxLayoutGap="15px">


          <div>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Documentos requeridos</ng-template>

        <div fxLayout="row wrap" fxLayoutGap="15px grid">

        </div>

        <br>

        <div>
          <button mat-button color="primary">Finalizar</button>
          <span fxFlex></span>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button (click)="stepper.reset()">Restablecer</button>
        </div>
      </mat-step>
    </form>

  </mat-stepper>
</ngx-simplebar>
