<div class="mat-app-background body">
  <p class="mat-display-4">mat-display-4</p>
  <p class="mat-display-3">mat-display-3</p>
  <p class="mat-display-2">mat-display-2</p>
  <p class="mat-display-1">mat-display-1</p>
  <p class="mat-headline">mat-headline</p>
  <p class="mat-title">mat-title</p>
  <p class="mat-subheading-2">mat-subheading-2</p>
  <p class="mat-subheading-1">mat-subheading-1</p>
  <p class="mat-body-1">mat-body-1</p>
  <p class="mat-body-2">mat-body-2</p>
  <p class="mat-caption">mat-caption</p>
  <p class="mat-button">mat-button</p>
  <p class="mat-input">mat-input</p>
</div>
