<mat-toolbar>
  <button mat-icon-button (click)="chengeDrawer()" matTooltip="Mostrar/Ocultar Menú">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SINAFIP</span>
</mat-toolbar>
<mat-drawer-container autosize class="my-menu-container">
  <mat-drawer #menuDrawer mode="side" opened="true" class="my-menu-drawer">

    <div fxLayout="column" fxLayoutAlign="start center" class="my-menu">
      <button *ngIf="usuario.role === 'USER_ROLE'" mat-raised-button (click)="openFullDrawer('Crear Iniciativa de Preinversión', 'NEW_INITIATIVE')" color="primary">
        Crear iniciativa de preinversión
      </button>
      <br>
      <mat-selection-list fxFill [multiple]="false">

        <mat-list-option (click)="closeDrawers()"  routerLinkActive="mat-list-single-selected-option"
          [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon mat-list-icon>start</mat-icon>
          Registro de Iniciativas
        </mat-list-option>

        <mat-list-option (click)="closeDrawers()" routerLinkActive="mat-list-single-selected-option">
          <mat-icon mat-list-icon>request_quote</mat-icon>
          Solicitudes
        </mat-list-option>

        <mat-list-option (click)="closeDrawers()" routerLinkActive="mat-list-single-selected-option">
          <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
          Admisiones
        </mat-list-option>

      </mat-selection-list>
    </div>

  </mat-drawer>

  <mat-drawer-container>
    <mat-drawer #fullDrawer position="end" mode="over" class="full-drawer">

      <app-new-initiative *ngIf="fullComponent === 'NEW_INITIATIVE'"></app-new-initiative>
      <app-selected-initiative *ngIf="fullComponent === 'SELECTED_INITIATIVE'"></app-selected-initiative>
      <app-admition-matrix *ngIf="fullComponent === 'ADMITION_MATRIX'"></app-admition-matrix>

    </mat-drawer>

    <div ngClass.gt-sm="my-content-desktop" ngClass.lt-md="my-content-mobile">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>

</mat-drawer-container>
