.my-content {
  height: calc(100vh - 180px);
}

.load-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.example-radio-group {
  display: wrap;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
