<div fxLayout="column" fxLayoutGap="16px">

  <div>
    <p class="mat-headline">Bienvenid@ al seguimiento de la preinversión</p>
    <p class="mat-subheading-2">Comenzar...</p>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">

    <div *appShowForRoles="['ADMIN_ROLE']">
      <mat-card (click)="openFullDrawer('Crear Proyecto', 'NEW_PROJECT')" class="pointer mat-elevation-z2" [ngClass]="elevationNew" (mouseover)="newStyle($event)" (mouseout)="newStyle($event)">
        <mat-card-content fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
          <mat-icon>add</mat-icon>
          <p class=" mat-title">Registrar Proyecto</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div *appShowForRoles="['ADMIN_ROLE']">
      <mat-card (click)="closeDrawers()" routerLink="projects" class="pointer mat-elevation-z2" [ngClass]="elevationNewProjects" (mouseover)="newProjectStyle($event)" (mouseout)="newProjectStyle($event)">
        <mat-card-content fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
          <mat-icon>account_tree</mat-icon>
          <p class=" mat-title">Proyectos</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div *appShowForRoles="['ADMIN_ROLE']">
      <mat-card (click)="closeDrawers()" routerLink="projectFinish" class="pointer mat-elevation-z2" [ngClass]="elevationFinishProjects" (mouseover)="finishProjectStyle($event)" (mouseout)="finishProjectStyle($event)">
        <mat-card-content fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
          <mat-icon>check_circle_outline</mat-icon>
          <p class=" mat-title">Proyectos Finalizados</p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
