.app-layout {
  height: 100vh;
}

.pointer {
  cursor: pointer !important;
}

.main-content-desktop {
  height: calc(100vh - 64px) !important;
  border-radius: 16px 0px 0px 0px !important;
  padding: 0px !important;
}

.main-content-mobile {
  height: calc(100vh - 112px) !important;
  border-radius: 16px 0px 0px 0px !important;
  padding: 0px !important;
}

.sub-content-desktop {
  height: calc(100vh - 164px) !important;
  padding-right: 15px;
}

.full-drawer {
  width: 100%;
}

.mat-title {
  margin: 0px !important;
}
