<div class="sub-content-desktop">
  <mat-stepper linear="true" #stepper>
    <mat-step>
    <!-- <mat-step [stepControl]="firstFormGroup"> -->
      <!-- <form [formGroup]="firstFormGroup"> -->
        <ng-template matStepLabel>Información general</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      <!-- </form> -->
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
