<mat-drawer-container>
  <mat-drawer #fullDrawer2 position="end" mode="over" class="full-drawer">

    <mat-toolbar  fxLayoutGap="10px">
      <button mat-icon-button (click)="closeFullDrawer2()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="mat-title">{{ fullTitle2 }}</span>
    </mat-toolbar>

    <app-new-alternative *ngIf="fullComponent2 === 'NEW_ALTERNATIVE'"></app-new-alternative>
    <app-new-revelance-matrix *ngIf="fullComponent2 === 'NEW_RELEVANCE_MATRIX'"></app-new-revelance-matrix>
  </mat-drawer>

  <mat-toolbar fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
    <button mat-icon-button (click)="closeFullDrawer()">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <span class="mat-title">{{ fullTitle }}</span>
    </div>
    <span fxFlex></span>
    <mat-chip-list>
      <mat-chip color="primary" (click)="currentView = 'generalInformation'" [selected]="currentView === 'generalInformation'" class="pointer active-elevation">
        <mat-icon matChipAvatar>lightbulb</mat-icon>
        Información general
      </mat-chip>
      <mat-chip color="accent" (click)="currentView = 'alternatives'" [selected]="currentView === 'alternatives'" class="pointer active-elevation">
        <mat-icon matChipAvatar>alt_route</mat-icon>
        Alternativas
      </mat-chip>
    </mat-chip-list>
  </mat-toolbar>

  <ngx-simplebar class="sub-content-desktop">

    <app-idea-card *ngIf="currentView === 'generalInformation'"></app-idea-card>
    <app-alternatives *ngIf="currentView === 'alternatives'"></app-alternatives>

  </ngx-simplebar>

</mat-drawer-container>
