<mat-drawer-container>
  <mat-drawer #fullDrawer2 position="end" mode="over" class="full-drawer" disableClose>

    <mat-drawer-container autosize (backdropClick)="closeFormDrawer()">
      <mat-drawer #formDrawer mode="over" class="my-form-drawer" disableClose>

        <mat-toolbar fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
          <button mat-icon-button (click)="closeFormDrawer()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="mat-title">{{ formTitle }}</span>
        </mat-toolbar>

        <app-new-data-geo *ngIf="formComponent === 'NEW_DATA_GEO'"></app-new-data-geo>

      </mat-drawer>

      <mat-drawer-content>

        <mat-toolbar fxLayoutGap="10px">
          <button mat-icon-button (click)="closeFullDrawer2()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="mat-title">{{ fullTitle2 }}</span>
        </mat-toolbar>

        <app-new-alternative *ngIf="fullComponent2 === 'NEW_ALTERNATIVE'"></app-new-alternative>
        <app-new-revelance-matrix *ngIf="fullComponent2 === 'NEW_RELEVANCE_MATRIX'"></app-new-revelance-matrix>
        <app-selected-alternative *ngIf="fullComponent2 === 'SELECTED_ALTERNATIVE'"></app-selected-alternative>

      </mat-drawer-content>

    </mat-drawer-container>

  </mat-drawer>

  <mat-drawer-content>

    <mat-toolbar fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="start center">
      <button mat-icon-button (click)="closeFullDrawer()">
        <mat-icon>close</mat-icon>
      </button>
      <div>
        <span class="mat-title">{{ fullTitle }}</span>
      </div>
    </mat-toolbar>

    <ngx-simplebar class="my-content">

      <app-idea-card></app-idea-card>

    </ngx-simplebar>

  </mat-drawer-content>


</mat-drawer-container>
